<div class="card position-absolute top-50 start-50 translate-middle" >
  <div class="card-body">
    <form
      class=""
      [formGroup]="formConsultar"
      (ngSubmit)="consultar()"
    >
      <div class="mb-3">
        <label class="input-group-text" for="inputGroupSelect01"
          >Tipo de documento</label
        >
        <select
          class="form-select"
          aria-label="Default select example"
          formControlName="tipoIdentificacion"
          required
        >
          <option value="C">Cedula de ciudadania</option>
          <option value="P">Pasaporte</option>
        </select>
        @if (formConsultar.get("tipoIdentificacion")?.invalid &&
        formConsultar.get("tipoIdentificacion")?.touched) { @if
        (formConsultar.get("tipoIdentificacion")?.hasError("required")) {
        <div class="col-sm-12">
          <small class="text-danger"
            >Debe seleccionar un tipo de documento</small
          >
        </div>
        } }
      </div>
      <div class="mb-3">
        <label for="inputnumdoc" class="form-label"
          >Número de documento</label
        >
        <input
          type="text"
          class="form-control"
          id="inputnumdoc"
          formControlName="numeroIdentificacion"
          required
        />
        @if (formConsultar.get("numeroIdentificacion")?.invalid &&
        formConsultar.get("numeroIdentificacion")?.touched) { @if
        (formConsultar.get("numeroIdentificacion")?.hasError("required")) {
        <div class="col-sm-12">
          <small id="passwordHelp" class="text-danger"
            >Debe escribir un número de documento.</small
          >
        </div>
        } }
      </div>
      <button type="submit" [disabled]="!formConsultar.valid" class="btn btn-primary">Buscar</button>
    </form>
  </div>
</div>
